.container {
    display: flexbox;
    max-width: 340.734px;
    margin: 100px auto;
    font-family: 'MetropolisNF', sans-serif;
}

.hhh-lines {
    display: flexbox;
    position: relative;
    text-align: center;
    color: #007F61;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18.076px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hhh-lines:before {
    content: " ";
    height: 0.904px;
    width: 93.9px;
    background: #C8C8C8;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.hhh-lines:after {
    content: " ";
    height: 0.904px;
    width: 93.9px;
    background: #C8C8C8;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.box1 {
    position: relative;
    width: 340.734px;
    min-height: 74.112px;
    max-height: 161.781px;
    flex-shrink: 0;
    border-radius: 3.615px;
    border: 0.904px solid #C8C8C8;
    background: #FFF;
}

.box2 {

    position: relative;
    margin-top: 15px;
    width: 340.734px;
    min-height: 74.112px;
    max-height: auto;
    flex-shrink: 0;
    border-radius: 3.615px;
    border: 0.904px solid #C8C8C8;
    background: #FFF;
}

.box3 {
    position: relative;
    margin-top: 15px;
    width: 340.734px;
    min-height: 74.112px;
    max-height: 190.781px;
    flex-shrink: 0;
    border-radius: 3.615px;
    border: 0.904px solid #C8C8C8;
    background: #FFF;
}

.radio {
    position: absolute;
    margin-left: 21px;
    top: 30px;
    accent-color: #007F61;
}

.radio-label {
    position: absolute;
    margin-left: 54px;
    top: 20px;
}

.p1 {
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    color: #000;
    font-size: 12.653px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.p4 {
    float: right;
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 18px;
    color: #9F9F9F;

    font-size: 9.942px;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5;
    text-decoration-line: line-through;
}

.p3 {
    float: right;
    margin-top: 40px;
    margin-right: -150px;
    color: #000;
    font-size: 12.653px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.p2 {
    margin-top: 20px;
    margin-bottom: 0;
    float: right;
    margin-right: 20px;
    color: #007F61;
    font-size: 12.653px;
    font-style: normal;
    font-weight: 600;
}

.details {
    padding-bottom: 10px;
    margin-top: 80px;
    margin-left: 54px;
}

.details2 {
    margin-top: 5px;
    padding-bottom: 10px;
}

.select,
.select2,
.select21,
.select3 {
    width: 65.978px;
    height: 25.306px;
    border-radius: 1.808px;
    border: 0.904px solid #D9D9D9;
    background: #FFF;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10.846px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.colour {
    color: #000;
    margin-left: 5px;
    font-size: 9.942px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.size {
    color: #000;
    margin-left: 5px;
    font-size: 9.942px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hidden {
    display: none;
}

.shipping {
    color: #007F61;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.total {
    color: #000;
    margin-left: 100px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.second {
    width: 340.734px;
    height: 74.112px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.third {
    width: 341px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 4px 0px;
    background: #007F61;
    justify-content: center;
    border-color: #f1f1f1;
}

.third span {
    color: #fff;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.spn {
    margin-left: -15px;
    color: #000;
    font-size: 9.038px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
